/* index.css */

body {
    margin: 0;
    padding: 0;
    background-color: #fbf9f9;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  